body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
}

#cell-holder {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
    width: 40%;
    gap: 8px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background: lightgray;
    overflow-wrap: anywhere;
}

.selected {
    border: yellow 8px solid;
}